$color-grey: #999;
$color-black: #333;
$color-white: #fff;

* {
  box-sizing: border-box;
}

body {
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  line-height: 100vh;
}

.board {
  position: relative;
}

.cells {
  position: absolute;

  .cell {
    position: absolute;
    z-index: 10;
    padding: 1.8px;
  }
}

.cells .cell {
  .white,
  .black {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .white {
    border: 1px solid $color-black;
    background-color: $color-white;
  }

  .black {
    border: 1px solid $color-black;
    background-color: $color-black;
  }
}

.grid {
  position: absolute;
  box-sizing: content-box;
  border-top: 1px solid $color-grey;
  border-left: 1px solid $color-grey;

  .cell {
    position: absolute;
    border-right: 1px solid $color-grey;
    border-bottom: 1px solid $color-grey;
  }
}

.info {
  position: fixed;
  top: 20px;
  right: 0;
}
